<div class="jumbotron">
<h1 style="font-weight:bolder">Band Tracker</h1>
</div>
<div class="container">

<div class="row">
  <a href="/venues">
    <div class="col-md-4">
      <p class="vcenter">View Venues</p>
    </div>
  </a>

  <a href="/bands">
    <div class="col-md-4">
      <p class="vcenter">View All Bands</p>
    </div>
  </a>

  <a href="/bands/new">
    <div class="col-md-4">
      <p class="vcenter">Add a new Band</p>
    </div>
  </a>
</div>
